.messenger{
    height: calc(100vh - 70px);
    display: flex;
}

.chatMenu{
    flex: 3.5;
    background-color: rgb(253, 254, 255);
    border-right: 1px solid grey;
    height: 100%;
}

.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border: none;
    border: 2px solid grey;
    border-radius: 10px;
}

.chatMenuInput:focus{
    outline: none;
}


.chatBox{
    flex: 5.5;
    border-right: 1px solid grey;
}


.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.chatBoxTop{
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.chatBoxBottom{
    margin-top:5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatSubmitButton{
    display: flex;
    align-items: center;
    background-color: rgb(0, 195, 255);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 800;
    justify-content: space-between;
    padding: 10px;
}

.chatMessageInput{
    width: 80%;
    height: 100px;
    padding: 10px;
}

.chatMessageInput:focus{
    outline: none;
}

.chatOnline{
    flex: 3;
}

.chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper{
    padding: 10px;
    height: 100%;
}

.noConversationText{
    position: absolute;
    top:40%;
    font-size: 35px;
    color: lightgrey;
    text-align: center;
    cursor: default;
}

.onlineFriendsLabel{
    font-weight: 800;
    font-size: 30px;
}